.bookpage{
    width: 100rem;
    height: 100%;
    background-color: white;
}
.bookadd{
   display: flex;
   align-items: center;
   justify-content: center;
}
.bookaddbtn{
    border: 1px solid #dbdbdb;
    background-color: transparent;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    margin-top: 3rem;
    color: gray;
    text-align: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.bookaddbtn:hover{
    color: black;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
